---
import FeaturedImage from '@/components/FeaturedImage.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const albums = (
  await getCollection('photos', ({ data }) => {
    // Only return published posts in production
    return import.meta.env.PROD ? data.published === true : true;
  })
).sort((a, b) => b.data.year - a.data.year);

const allImages = albums
  .map((photo) =>
    photo.data.images.map((image) => ({
      ...image,
      location: photo.data.location,
      year: photo.data.year,
      title: photo.data.title,
      src: `${photo.id}/${image.id}`,
    })),
  )
  .flat();

const featuredImage = allImages[Math.floor(Math.random() * allImages.length)];
---

<BaseLayout title="Photos">
  <FeaturedImage image={featuredImage} class="mt-6" />
  <section class="mb-20">
    <ul class="m-0 list-none">
      {
        albums.map((photo) => (
          <li class="mt-5 flex flex-col sm:mt-2 sm:flex-row">
            <div class="sm:basis-20">{photo.data.year}</div>
            <a href={`/photos/${photo.id}`} class="font-semibold" data-astro-prefetch>
              {photo.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
