---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
import { CornerDownLeft } from '@lucide/astro';

type Props = CollectionEntry<'blog'>;

const { data, id } = Astro.props;
const { title, subtitle, description, heroImage, heroImageAlt = null, pubDate, updatedDate } = data;
const ogImage = `/og-image/${id}.png`;
---

<BaseLayout title={title} description={description} image={ogImage}>
  <article class="prose prose-custom mb-80 dark:prose-invert">
    {heroImage && <Image width={720} height={360} src={heroImage} alt={heroImageAlt} />}
    <h1 class="mb-1">{title}</h1>
    {subtitle && <div class="mb-3 mt-1 italic text-muted-foreground">{subtitle}</div>}
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="italic">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr class="my-5" />
    <slot />
    <div class="flex flex-col items-center">
      <div class="my-24">
        <a
          href="/blog"
          data-astro-prefetch="viewport"
          aria-label="Back to posts"
          class="rounded-full p-6 transition-colors duration-200 hover:opacity-50 dark:hover:opacity-75"
        >
          <CornerDownLeft />
        </a>
      </div>
    </div>
  </article>
</BaseLayout>
