---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>;

const { data, slug } = Astro.props;
const { title, description, heroImage, heroImageAlt = null, pubDate, updatedDate } = data;
const ogImage = `/og-image/${slug}.png`;
---

<BaseLayout title={title} description={description} image={ogImage}>
  <article class="prose dark:prose-invert">
    {heroImage && <Image width={720} height={360} src={heroImage} alt={heroImageAlt} />}
    <h1 class="mb-1">{title}</h1>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="italic">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr class="my-5" />
    <slot />
  </article>
</BaseLayout>
